<div class="bg-white h-auto py-12   w-full flex flex-col justify-center items-center text-center">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <h1 data-aos="fade-down" data-aos-duration="1000"  style="font-family: 'Hilliamoon', sans-serif;" class="text-6xl">Dresscode</h1>
    <p data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200" class="p-3 text-sm text-gray-600" style="font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: normal;">
        Nos encantara verte formal. Nos reservamos el Blanco para la novia, y el café claro para el novio.
    </p>
    <div class="flex items-center justify-center w-full">
        <img data-aos="fade-down" data-aos-duration="1000" src="assets/img/vestido.png" class="w-40 drop-shadow-4xl "  alt="">
    <img data-aos="fade-down" data-aos-duration="1000" src="assets/img/traje.png" class="w-40 drop-shadow-4xl "  alt="">
    </div>

</div>