<div class="bg-white h-80 py-16   w-full flex flex-col justify-start items-center text-center">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <img data-aos="fade-down" data-aos-duration="1000" src="assets/img/regalo.png" class="w-10 drop-shadow-2xl  " alt="">
    <p data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200" class="p-3 text-xs text-gray-600" style="font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: normal;">
        Su presencia en nuestra boda es el mejor regalo. Pero si desean hacernos otro obsequio puede ser en efectivo, o a los siguientes datos bancarios.
    </p>
    <swal
  #deleteSwal
  title="Datos Bancarios:"
  html='
  <h1 class="text-gray-900 text-center font-bold"> Novio: </h1>
  <h1><strong class="text-[#92a58b]">Banco:</strong> Banco de Loja </h1>
  <h1><strong class="text-[#92a58b]">CTA:</strong> Ahorros </h1>
  <h1><strong class="text-[#92a58b]">Titular:</strong> Milton Montalvan</h1>
  <h1><strong class="text-[#92a58b]">N° Cédula:</strong> 1105157158</h1>
  <h1><strong class="text-[#92a58b]">N° Cuenta:</strong> 2901864889</h1>
  <h1 class="text-gray-900 text-center font-bold pt-3"> Novia: </h1>
  <h1><strong class="text-[#92a58b]">Banco:</strong> Banco de Pichincha </h1>
  <h1><strong class="text-[#92a58b]">CTA:</strong> Ahorros </h1>
  <h1><strong class="text-[#92a58b]">Titular:</strong> Daniela Muñoz</h1>
  <h1><strong class="text-[#92a58b]">N° Cédula:</strong> 1104066939</h1>
  <h1><strong class="text-[#92a58b]">N° Cuenta:</strong> 2211350691</h1>'
  text="This cannot be undone"
  [focusCancel]="true">
</swal>
    
    <a data-aos="zoom-in" data-aos-duration="1000"  [swal]="deleteSwal" target="_blank" type="button" class="mt-5 focus:outline-none text-white bg-[#92a58b] hover:bg-[#798c72] focus:ring-4 focus:ring-[#b3c5ab] font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2  ">Ver datos bancarios</a>

</div>

<div class="bg-cover bg-no-repeat bg-[url('assets/img/love1.webp')] h-96 w-screen text-center flex flex-col gap-0 items-center justify-end pb-10  ">

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    
    <p data-aos="fade-down" data-aos-anchor-placement="top-bottom" data-aos-duration="1000" data-aos-delay="200" class="p-2 text-sm text-white" style="font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: normal;">
        Nuestra boda será una fiesta especial. Prepárense para reír, bailar y celebrar el amor de una manera que solo nosotros lo podemos lograr.
    </p>
    <h1 data-aos="fade-down" data-aos-anchor-placement="top-bottom" data-aos-duration="1000" data-aos-delay="200"  style="font-family: 'Hilliamoon', sans-serif;" class="text-6xl text-white">¡No Falten!</h1>


</div>



