<div class="bg-cover bg-no-repeat sepia-0 bg-[url('assets/img/calendario.JPG')] h-96 w-screen text-center flex flex-col gap-0 items-center justify-center ">
  <div class="container mx-auto px-4 py-2">
      <div class="text-center mb-4">
          <h2 data-aos="fade-down" data-aos-duration="1000"  style="font-family: 'Hilliamoon', sans-serif;" class="text-6xl text-center text-white">
              Agosto 2024
          </h2>
      </div>
      
      <div data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200" class="grid grid-cols-7 gap-1 space-x-0">
          <div class="font-bold text-white text-xs">Do</div>
          <div class="font-bold text-white text-xs">Lu</div>
          <div class="font-bold text-white text-xs">Ma</div>
          <div class="font-bold text-white text-xs">Mi</div>
          <div class="font-bold text-white text-xs">Ju</div>
          <div class="font-bold text-white text-xs">Vi</div>
          <div class="font-bold text-white text-xs">Sa</div>
      </div>
      
      <div data-aos="fade-down" data-aos-duration="1000" data-aos-delay="300" class="grid grid-cols-7 gap-2 text-xs text-white">
          <!-- Week 1 -->
          <div></div> <!-- empty days before August 1st -->
          <div></div>
          <div></div>
          <div></div>
          <div>1</div>
          <div>2</div>
          <div>3</div>
          <!-- Week 2 -->

          <div>4</div>
          <div>5</div>
          <div>6</div>
          <div>7</div>
          <div>8</div>
          <div>9</div>
          <div>10</div>
          <!-- Week 3 -->

          <div>11</div>
          <div>12</div>
          <div>13</div>
          <div>14</div>
          <div>15</div>
          <div>16</div>
          <div>17</div>
          <!-- Week 4 -->

          <div>18</div>
          <div>19</div>
          <div>20</div>
          <div>21</div>
          <div>22</div>
          <div>23</div>
          <div>24</div>
          <!-- Week 5 -->

          <div>25</div>
          <div>26</div>
          <div>27</div>
          <div>28</div>
          <div>29</div>
          <div>30</div>
          <div class="bg-white rounded-full w-5 translate-x-3 text-black">31</div>
          <!-- Week 6 -->

          <div></div> <!-- empty days after August 31st -->
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
      </div>
  </div>



  <a data-aos="fade-down" data-aos-duration="1000" data-aos-delay="400" (click)="openSaveDialog()" target="_blank" type="button" class="mt-5 focus:outline-none text-white bg-[#92a58b] hover:bg-[#798c72] focus:ring-4 focus:ring-[#b3c5ab] font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Confirmar Asistencia</a>
</div>
