<div class="bg-white h-auto py-20   w-full flex flex-col justify-center items-center text-center">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <img data-aos="fade-down" data-aos-duration="1000" src="assets/img/email-heart.png" class="w-12" alt="">
    <h1 data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200" style="font-family: 'Hilliamoon', sans-serif;" class="text-6xl">¡Estas invitado!</h1>
    <p data-aos="fade-down" data-aos-duration="1000" data-aos-delay="300" class="p-3 text-sm text-gray-700" style="font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: normal;">
        Después de recorrer muchos lugares juntos y compartir momentos inolvidables, nos casamos.
    </p>

    <p data-aos="fade-down" data-aos-duration="1000" data-aos-delay="500" class="p-3 text-sm text-gray-700" style="font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: normal;">
        Comenzamos una nueva aventura y no sería posible celebrar nuestra boda sin la compañía de nuestra familia y mejores amigos. 
    </p>

</div>