
<div class="bg-cover sepia-0 bg-[url('assets/img/iniciom.JPG')] h-screen w-screen text-center flex flex-col gap-0 items-center justify-center ">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script>
        AOS.init();
      </script>
    <img data-aos="fade-down" data-aos-duration="2000"  src="assets/img/fecha2.png" class="w-20 " alt="">
    
        <p data-aos="fade-down" data-aos-duration="2000" data-aos-delay="200" style="font-family: Playwrite IS, cursive; ;" class="text-white text-2xl">Milton y Daniela</p>
    <img data-aos="fade-down" data-aos-duration="2000" data-aos-delay="300" src="assets/img/flor.png" class="w-40 " alt="">

    <audio class="hidden" autoplay controls>
        <source src="assets/audio/perfect.mp3" type="audio/mpeg">
        
      </audio>
</div>

<app-invitado></app-invitado>
<app-recepcion></app-recepcion>
<app-contador></app-contador>
<app-dresscode></app-dresscode>
<app-calendario></app-calendario>
<app-banc></app-banc>