<div class="bg-cover bg-no-repeat bg-[url('assets/img/contador.JPG')] h-80 w-screen text-center flex flex-col gap-0 items-center justify-end pb-20  ">
    <section>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <div class="coming-soon">

            <p data-aos="fade-down" data-aos-duration="1000"  class=" py-2 text-xl font-bold text-white" style="font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-style: normal;">
                Faltan
            </p>
            <div class="flex space-x-5">

                <div data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200" class="flex flex-col leading-4 text-center">
                    <p class="text-white font-bold" style="font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    font-style: normal;" >{{day}} </p>
                    <p style="font-family: 'Roboto', sans-serif;
                    font-weight: 100;
                    font-style: normal;" class="text-white text-xs " >Días</p>
                    
                </div>
                <div data-aos="fade-down" data-aos-duration="1000" data-aos-delay="300" class="flex flex-col leading-4 text-center">
                    <p class="text-white font-bold" style="font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    font-style: normal;" >{{hours}} </p>
                    <p style="font-family: 'Roboto', sans-serif;
                    font-weight: 100;
                    font-style: normal;" class="text-white text-xs " >Horas</p>
                    
                </div>
                <div data-aos="fade-down" data-aos-duration="1000" data-aos-delay="400" class="flex flex-col leading-4 text-center">
                    <p class="text-white font-bold" style="font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    font-style: normal;" >{{minutes}} </p>
                    <p style="font-family: 'Roboto', sans-serif;
                    font-weight: 100;
                    font-style: normal;" class="text-white text-xs " >Minutos</p>
                    
                </div>
                <div data-aos="fade-down" data-aos-duration="1000" data-aos-delay="500" class="flex flex-col leading-4 text-center">
                    <p class="text-white font-bold" style="font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    font-style: normal;" >{{seconds}} </p>
                    <p style="font-family: 'Roboto', sans-serif;
                    font-weight: 100;
                    font-style: normal;" class="text-white text-xs " >Segundos</p>
                    
                </div>

            </div>
        </div>
    </section>
</div>




<div class="bg-cover sepia-0 bg-[url('assets/img/fondo.JPG')]" >
    <div class=" h-auto pt-12 pb-5  w-full flex flex-col justify-center items-center text-center">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    
        <svg data-aos="fade-down" data-aos-duration="1000" data-aos-delay="600" class="w-12 fill-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>camera-outline</title><path d="M20,4H16.83L15,2H9L7.17,4H4A2,2 0 0,0 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6A2,2 0 0,0 20,4M20,18H4V6H8.05L9.88,4H14.12L15.95,6H20V18M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7M12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15Z" /></svg>
    
        
    
    </div>
    <img data-aos="fade-down" data-aos-duration="1000" src="assets/img/love.png" class="w-64 drop-shadow-4xl pt-8  " alt="">
<div class="w-full flex justify-end -translate-y-10">
    <img data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200" src="assets/img/myd.png" class="w-64 drop-shadow-4xl justify-end items-end  " alt="">
</div>
</div>